<! DOCTYPE html>

<html>
    <head>
        <title>Signup</title>
        <style> 
        h1 {color:darkblue; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif, 'Arial Narrow', Arial, sans-serif;}
        p {color:red;}
        input {color:darkgray; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;}
        div { background-color: lightgray; color: midnightblue; padding: 1rem 2rem 1em 2rem;
        }
        #submit {background-color: midnightblue; color: white; padding: .5rem .5rem .5rem .5rem; font-size: 1rem;}
        </style>
    </head>
    <body>
        <div class="signup-form">
        {% block content %}
        {% endblock %}
        <div>
    </body>
</html>